:root {
  --primary-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Raleway", sans-serif;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --primary-bg-color: #ffffff;
  --accent-button-color: #2196f3;
  --accent-hero-button-color: #188ce8;
  --bg-button-color: #f5f4fa;
  --bg-footer-color: #2f303a;
  --bg-hero-color: #c4c4c4;
  --icon-color: #afb1b8;
}
body {
  background-color: var(--primary-bg-color);
  font-family: var(--primary-font-family);
  color: var(--primary-text-color);
}
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}
.header-box {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}
.nav-link {
  padding-top: 32px;
  padding-bottom: 32px;
}
.header-container {
  display: flex;
  align-items: center;
}
.site-nav {
  display: flex;
  align-items: center;
}
.site-nav-item {
  display: flex;
  align-items: center;
}
.contacts-item {
  display: flex;
  align-items: center;
}
.site-logo {
  margin-right: 93px;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-button-color);
  font-family: var(--secondary-font-family);
}
.site-nav-item-link:not(:last-child) {
  margin-right: 50px;
}
.site-nav .nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-button-color);
}
.site-nav .current {
  color: var(--accent-button-color);
}
.contacts-item {
  margin-left: auto;
}
.contacts:not(:last-child) {
  margin-right: 50px;
}
.contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-button-color);
}
.hero-box {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/herobgimg.jpg");
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--bg-hero-color);
}
.hero-title {
  margin-bottom: 30px;
  color: var(--primary-bg-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-button {
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;
  border: 0px;
  border-radius: 4px;
  padding: 10px 32px;
  color: var(--primary-bg-color);
  background-color: var(--accent-button-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
}
.hero-button:hover {
  color: var(--primary-bg-color);
  background-color: var(--accent-hero-button-color);
  cursor: pointer;
}
.features-box {
  padding-top: 94px;
}
.hiden-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.features-icon-list {
  display: flex;
}
.features-icon-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background-color: var(--bg-button-color);
}
.features-icon-item:not(:last-child) {
  margin-right: 30px;
}
.features-item {
  display: flex;
  justify-content: flex-start;
}
.features:not(:last-child) {
  margin-right: 30px;
  min-width: 270px;
}
.features-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.features-text {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.our-works-box {
  padding-top: 94px;
  padding-bottom: 94px;
}
.our-works-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.our-works-item {
  display: flex;
  justify-content: flex-start;
}
.our-works:not(:last-child) {
  margin-right: 30px;
  max-width: 370px;
}
.team-box {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--bg-button-color);
}
.team-box-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.team:not(:last-child) {
  margin-right: 30px;
  max-width: 270px;
}
.team-item {
  display: flex;
  justify-content: flex-start;
}
.name-description {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--primary-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-member {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.member-description {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}
.social-list-item {
  display: flex;
  justify-content: center;
}
.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}
.social-icon {
  fill: var(--icon-color);
}
/* .social-link:hover,
.social-link:focus {
  fill: var(--accent-button-color);
} */
.social-list:not(:last-child) {
  margin-right: 10px;
}
.our-clients-title {
  padding-top: 94px;
  font-weight: 700px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.portfolio-box {
  padding-top: 94px;
  padding-bottom: 94px;
}
.portfolio-filter-item {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.portfolio-filter:not(:last-child) {
  margin-right: 8px;
}
.portfolio-filter-button {
  padding: 6px 22px;
  min-width: 73px;
  border-radius: 4px;
  border: 0px;
  color: inherit;
  background-color: var(--bg-button-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
}
.portfolio-filter-button:hover,
.portfolio-filter-button:focus {
  color: var(--primary-bg-color);
  background-color: var(--accent-button-color);
  cursor: pointer;
}
.portfolio-gallery-item {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
}
.portfolio-gallery {
  margin-bottom: 30px;
  margin-right: 30px;
}
.portfolio-gallery:nth-child(3n) {
  margin-right: 0px;
}
.portfolio-gallery:nth-child(n + 7) {
  margin-bottom: 0px;
  max-width: 370px;
}
.portfolio-description {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  background-color: var(--primary-bg-color);
}
.portfolio-gallery-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-gallery-text {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}
.footer-box {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--bg-footer-color);
}
.footer-logo {
  color: var(--accent-button-color);
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.address-contacts {
  margin-top: 20px;
  font-style: inherit;
}
.address,
.contacts-footer:not(:last-child) {
  margin-bottom: 9px;
}
.address-link {
  color: var(--primary-bg-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.address-link:hover,
.address-link:focus {
  color: var(--accent-button-color);
}
.contacts-link-footer {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.contacts-link-footer:hover,
.contacts-link-footer:focus {
  color: var(--accent-button-color);
}
